{% extends 'base.html' %}
{% load static %}
{% block title %}Cars{% endblock %}
{% block content %}
	<section id="app" class="container">
		<!-- Update Modal -->
		<div class="modal fade" id="update-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">Car Position in Real Time</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
				    <div class="modal-body">
				      	<div class="mb-3">
						  	<table class="table">
								 <thead>
								    <tr>
								      <th scope="col">#</th>
								      <th scope="col">Lat</th>
								      <th scope="col">Long</th>
								      <th scope="col">Latest Time</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>

								      <th scope="row">1</th>
								      <td>[[ positions.lat ]]</td>
								      <td>[[ positions.lng ]]</td>
								      <td>[[ positions.timestamp ]]</td>
								    </tr>
								  </tbody>
							</table>
						</div>
				    </div>
				    <div class="modal-footer">
				        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
				    </div>
		    </div>
		  </div>
		</div>		
		<div class="row">
			<h2 class="mb-3">Tracking</h2>

			<div class="col-md-6 offset-md-2">
				<table class="table">
					 <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">operator</th>
					      <th scope="col">City</th>
					      <th scope="col">Car</th>
					      <th scope="col">Assigned At</th>
					      <th scope="col">Car Position</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr v-for='(item, index) in reports'>
					      <th scope="row">[[ index+1 ]]</th>
					      <td>[[ item.operator.unique_name ]]</td>
					      <td>[[ item.city.name ]]</td>
					      <td>[[ item.car.car ]]</td>
					      <td>[[ item.timestamp ]]</td>
					      <td>
					      	<button @click.prevent='carPosition(item.id)' class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#update-modal">map</button>
					      </td>
					    </tr>
					  </tbody>
				</table>
			</div>
		</div>
		
	</section>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{% static 'vue/tracking.js' %}"></script>
{% endblock %}
