{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <form method="POST">
                    {% csrf_token %}
                      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

<!--                       <div class="form-floating">
                        <input type="text" class="form-control" name="username" placeholder="username">
                        <label for="floatingInput">Username</label>
                      </div> -->
                      <div class="form-floating my-4">
                        <input type="password" class="form-control" id="floatingPassword" name="code" placeholder="Login Code">
                        <label for="floatingPassword">Enter Six Digit Code</label>
                      </div>
                      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                      <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
                </form>
            </div>
        </div>
    </section>
{% endblock %}